<header class="c-navbar">
    <div class="container">

        <a class="c-navbar__brand" href="#">
            <img src="assets/img/logo.png" alt="Finaban">
        </a>

        <div class="c-field has-icon-right c-navbar__search u-hidden-down@tablet u-ml-auto u-mr-small">
            <span class="c-field__icon">
                <i class="fa fa-search"></i> 
            </span>
                    
            <label class="u-hidden-visually" for="navbar-search">Pesquisa</label>
            <input class="c-input" id="navbar-search" type="text" placeholder="Procurando alguma funcionalidade?">
        </div>

        <div class="c-dropdown dropdown">
            <a  class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle" href="#" id="dropdwonMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="c-avatar__img" src="assets/img/avatar-72.jpg" alt="User's Profile Picture">
            </a>

            <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdwonMenuAvatar">
                <a class="c-dropdown__item dropdown-item" href="#">Meu Perfil</a>
                <a class="c-dropdown__item dropdown-item" href="#">Minha Empresa</a>
                <a class="c-dropdown__item dropdown-item" href="#">Sair</a>
            </div>
        </div>

        <button class="c-nav-toggle" type="button" data-toggle="collapse" data-target="#main-nav">
            <span class="c-nav-toggle__bar"></span>
            <span class="c-nav-toggle__bar"></span>
            <span class="c-nav-toggle__bar"></span>
        </button>
    </div>
</header>

<!--<nav class="navbar navbar-static-top" ng-include="'/template/header/navbar/navbar.html'"></nav>-->
